@import '../../assets/constants/styleConstants.scss';


.Simulation {

  //Object size
  width: 1400px;

  //Object position
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;


  //.PlayerBoardContainer
  > .PlayerBoardContainer {

      //Flex
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      //Content position
      padding: 20px;

      //Object position
      margin-bottom: 30px;

      //Shadow
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
}
