//Colors
//Primary
$primary-base:rgb(63, 83, 156);

//Secondary
$secondary-base: orange;

//Ships Grids
$carrier-background: rgb(130, 245, 29);
$carrier-color: black;

$battleship-background: rgb(44, 216, 236);
$battleships-color: black;

$destroyer-background: rgb(98, 0, 134);
$destroyer-color: white;

$submarine-background: rgb(136, 69, 1);
$submarine-color: white;

$patrol_boat-background: rgb(195, 255, 0);
$patrol_boat-color: black;
