@import '../../../../assets/constants/styleConstants.scss';


//SimulationHeader
.SimulationHeader {

    //Object size
    width: 1400px;
    height: 80px;

    //Object positon
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    //Content position
    padding-left: 20px;
    padding-right: 20px;


    //Flex
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    //Shadow
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    //Text
    font-size: 32px;
    font-family: $font-header;


    > h1 {
        color: $primary-base;
    }

    > h2 {
        font-size: 50px;
        font-family: $font-normal;
    }

    > h2 + h1 {
        color: $secondary-base;
    }
}
