@import '../../../../assets/constants/styleConstants.scss';


.SimulationFooter {

    //Object size
    width: 1400px;
    height: 100px;

    //Shadow
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    //Content position
    padding: 20px;

    //Flex
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;


    //TurnContainer
    > .TurnContainer {

        //Object size
        width: 200px;
        height: 60px;

        //Content position
        padding: 10px;

        //Text
        text-align: center;
        font-size: 24px;
        font-family: $font-normal;

        //Border
        border: 1px solid black;
        border-radius: 5%;
    }

    //ReturnHomeButton
    > .SimulationButton {

        //Object size
        width: 200px;
        height: 60px;

        //Border
        border: 4px solid $primary-base;

        //Color
        color: $primary-base;
        background-color: transparent;

        //Text
        font-size: 24px;
        font-family: $font-normal;
        font-weight: 700;

        //Other
        transition: 0.2s;
        


        &:hover {

            //Color
            border-color: $secondary-base;
            color: $secondary-base;

            //Other
            transition: 0.2s;
        }
    }

    //SpeedControl
    > .SpeedControl {

        //Object size
        width: 200px;
        height: 60px;

        //Flex
        display: flex;
        flex: row;
        align-items: center;
        justify-content: space-between;


        //CurrentDelay
        .CurrentDelay {

            //Text
            font-size: 32px;
            font-family: $font-normal;
        }

        > button {

            //Object size
            width: 50px;
            height: 50px;

            //Text
            font-size: 40px;
            font-family: $font-header;

            //Color
            background-color: transparent;
            border: 3px solid $primary-base;
            color: $primary-base;

            //Other
            transition: 0.2s;


            &:hover {

                //Color
                border-color: $secondary-base;
                color: $secondary-base;

                //Transition
                transition: 0.2s;
            }
        }
    }

}